# Environment variables (hassas bilgiler)
**/.env

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
fake-data-service/fake-data-service
kafka-gatekeeper/kafka-gatekeeper

# Test binary
*.test

# Go build cache
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store
